:80 {
    redir https://{$DOMAIN:localhost}:8443{uri} permanent
}

{$DOMAIN:localhost} {
    tls /etc/caddy/certs/{$DOMAIN:localhost}.pem /etc/caddy/certs/{$DOMAIN:localhost}.key.pem

    reverse_proxy {$UPSTREAM_URL:http://host.docker.internal:3000} {
        header_down -Content-Security-Policy
        header_down -Content-Security-Policy-Report-Only
    }

    log {
        output stdout
        format console
    }
}
